<div ng-controller="MainController as main">
  <h2>Wallet Balance</h2>
  <hr />
  <h3>In ether: {{main.balanceInEther}}</h3>
  <h4>In wei: {{main.balance}} (1 ether = 10**18 wei)</h4>
  <hr />
  <h2>Wallet Status</h2>
  <hr />
  <h4>Last Updated time: {{main.lastDay}}</h4>
  <h4>Daily Limit in Ether: {{main.dailyLimit}}</h4>
  <h4>Daily Spent in Ether: {{main.spentToday}} </h4>
  <hr />
  <h2>User Manuals</h2>
  <hr />
  <h4>1. make sure you've install Metamask in your chrome browser</h4>
  <h4>2. log in to Metamask with your wallet controller address, then refresh the page</h4>
  <h4>3. The #Home tag shows you a display-only page, reveals the wallet details.</h4>
  <h4>4. The #Deposit Ether tag shows you the deposit panel and the deposit log, in this wallet only the wallet controller address can transfer ethers into this walelt.</h4>
  <h4>5. The #Withdrawl Ether tag shows you the Withdrawl request and approval panel, you need to approve some transactions if the other wallet controller request a withdrawl over the daily limit.</h4>
  <h4>6. The #Events Log tag shows you a display-only page, records the activities of the wallet.</h4>
  <h4>7. Once you click the button, Metamask will ask you to confirm the transaction and determine the gas price. Stella personally recommends you to set the gas price within 15 gwei, and remember to reject the transaction once you see the gas limit is over 500,000.</h4>
  <h4>8. Please wait patiently after your every transaction, the page will show you a green bar to notify the success.</h4>
  <h4>9. Stella personally recommends you NOT to use this wallet for your daily ethers' in-and-out, because each out-going ether events cause the users 0.001-0.003 ETH.</h4>
</div>
