<div ng-controller="MainController as main">
  <h2>Wallet Balance</h2>
  <hr />
  <h3>In ether: {{main.balanceInEther}}</h3>
  <h4>In wei: {{main.balance}} (1 ether = 10**18 wei)</h4>
  <hr />
  <h2>Wallet Status</h2>
  <hr />
  <h4>Last Updated time: {{main.lastDay}}</h4>
  <h4>Daily Limit in Ether: {{main.dailyLimit}}</h4>
  <h4>Daily Spent in Ether: {{main.spentToday}} </h4>
  <hr />
  <h2>User Manuals</h2>
  <hr />
  <h4>1. make sure you've install Metamask in your chrome browser</h4>
  <h4>2. </h4>
</div>
